   @media screen and (max-width: 900px) {
       body {
           font-size: 14px;
           line-height: 20px;
       }
       .navbar {
           padding: 13px 0;
       }
       /* Carousel  */
       .carousel img {
           height: 485px;
       }
       .carousel-item:before {
           content: "";
           background: rgba(0, 0, 0, .55);
           position: absolute;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;
       }
       .carousel-indicators button {
           background-color: #fff;
           width: 15px !important;
           height: 15px !important;
           border-radius: 100% !important;
           display: inline-block !important;
           margin: 0 5px !important;
       }
       .carousel-indicators .active {
           background-color: var(--foodcafe_navbar_text_yellow_color);
       }
       .carousel-caption {
           top: 60%;
           transform: translateY(-50%);
       }
       .carousel-caption h2 {
           font-size: 20px;
           margin-bottom: 10px;
       }
       .carousel-caption h1 {
           font-size: 30px;
           line-height: 35px;
       }
       .carousel-caption .btn-table {
           margin-top: 30px;
       }
       .carousel-caption a {
           text-decoration: none;
       }
       .carousel-caption .btn-table,
       a.btn-table {
           padding: 5px 30px;
       }
       /* Block Area */
       .block-area {
           padding: 45px 0 30px;
       }
       .border {
           width: 100px;
           margin: 20px auto 0;
       }
       .special-menu h1 {
           font-size: 40px;
       }
       .special-menu,
       .special-menu-box {
           min-height: 270px;
       }
       .special-menu-box-hover h1 {
           font-size: 30px;
           margin: 0 0 20px;
       }
       .price {
           font-size: 40px;
           margin-top: 25px;
       }
       .special-menu-box-hover,
       .gallery-hover,
       .team-hover {
           font-size: 14px;
       }
       .opening-box {
           padding: 50px 0;
       }
       .opening-box-text h2 {
           font-size: 17px;
           margin: 0 0 15px;
       }
       .opening-box-text h2 {
           font-size: 17px;
           margin: 0 0 15px;
       }
       .menu-nav ul {
           overflow: hidden;
           margin: 0 -5px;
       }
       .menu-nav ul li {
           float: left;
           width: 50%;
           padding: 0 5px;
       }
       .menu-nav ul li a {
           margin-bottom: 10px;
           font-size: 20px;
           background-size: 50px;
           padding-top: 80px;
           height: 130px;
       }
       .menu-list::before,
       .menu-list::after {
           display: none;
       }
       .menu-item {
           font-size: 14px;
           padding: 20px 0 25px 0;
           border-bottom: 1px solid #ddd;
       }
       .menu-item h1 {
           font-size: 30px;
           margin: 0 0 15px;
       }
       .menu-pagination ul li a {
           font-size: 14px;
           padding: 0 5px;
       }
       .reservation-form input,
       .reservation-form textarea,
       .contact-form input,
       .contact-form textarea {
           font-size: 15px;
           padding: 15px 20px;
           margin-bottom: 20px;
       }
       .reservation-form i {
           top: 14px;
       }
       .single-team {
           height: 310px;
       }
       .team-hover h1,
       .single-testimonial h1,
       .single-address h1 {
           font-size: 30px;
           margin: 0 0 10px;
       }
       .team-hover h2 {
           margin: 0 0 10px;
           font-size: 20px;
       }
       .single-team .bookmarks {
           margin-top: 15px;
       }
       .single-team .bookmarks ul li a {
           margin: 0 2px;
           padding: 7px 0;
       }
       .testimonial {
           padding: 80px 0 30px;
       }
       .testimonial-list .owl-dots {
           margin-top: 20px;
       }
       .section-title h3 {
           line-height: 30px;
           font-size: 20px;
       }
       .single-address {
           font-size: 15px;
           margin-bottom: 20px;
       }
       .widget ul.address li i {
           top: 3px;
       }
       .widget h3 {
           font-size: 20px;
       }
       .widget .bookmarks ul li a {
           padding: 8px;
       }
   }