/*
*******************************************
*******************************************

@File: FoodCafe Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files contents are outlined below

*******************************************
*******************************************

==== INDEX PAGE CSS

** - 0. Default CSS
** - 1. Preloader CSS
** - 2. Navbar CSS
** - 3. Carousel Slider CSS
** - 4. About Us Section
** - 5. Special area CSS
** - 6. Opening Hour area CSS
** - 7. Food Menu area CSS
** - 8. Gallery area CSS
** - 9. Reservation area CSS
** - 10. Team area CSS
** - 11. Testimonials area CSS
** - 12. Location area css
** - 13. Blog area CSS
** - 14. Contact area CSS
** - 15. Widget area CSS
** - 16. Footer area CSS

*/


/*0. Default CSS*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #2c2626;
    font-size: 14px;
    line-height: 25px;
}

:root {
    --foodcafe_black_color: #000000;
    --foodcafe_navbar_text_yellow_color: #F39C12;
    --foodcafe_navbar_text_white_color: rgb(255, 255, 255);
}

a {
    color: var(--foodcafe_navbar_text_yellow_color);
    text-decoration: none;
}

a:hover {
    color: var(--foodcafe_navbar_text_yellow_color);
}

.btn-table,
a.btn-table {
    background-color: var(--foodcafe_navbar_text_yellow_color);
    border: 2px solid #fff;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 18px 50px;
    display: inline-block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: 700;
}

.btn-table:hover,
a.btn-table:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}

.btn-table:focus,
a.btn-table:focus {
    outline: 0;
    text-decoration: none;
}

.padding-top-zero {
    padding-top: 0;
}

.padding-bottom-zero {
    padding-bottom: 0;
}

.padding-right-zero {
    padding-right: 0;
}

.padding-left-zero {
    padding-left: 0;
}


/*2. Preloader CSS*/

.foodcafe-preloader {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.foodcafe-preloader .spinner {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #F6B145;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/* 3. Navbar Css */

.navbar {
    background-color: var(--foodcafe_black_color);
    padding: 25px 0;
}

.nav-link {
    color: white !important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    margin-right: 15px;
}

.nav-link:hover {
    color: var(--foodcafe_navbar_text_yellow_color)!important;
}

.navbar-brand {
    color: white !important;
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
}

.navbar__active {
    color: var(--foodcafe_navbar_text_yellow_color) !important;
}

.navbar-toggle {
    border-color: #fff;
    margin-right: 0;
    padding: 9px 10px;
}

.navbar-toggler {
    color: var(--foodcafe_navbar_text_yellow_color) !important;
}

.navbar .navbar-toggler {
    border-color: var(--foodcafe_navbar_text_white_color);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
    background-color: transparent;
    border-color: var(--foodcafe_navbar_text_yellow_color);
    ;
}

.navbar .navbar-toggler-icon {
    color: var(--foodcafe_navbar_text_yellow_color) !important;
}


/* 4. Carousel Slider CSS */

.carousel img {
    height: 660px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.carousel-item:before {
    content: "";
    background: rgba(0, 0, 0, .55);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel-indicators button {
    background-color: #fff;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100% !important;
    display: inline-block !important;
    margin: 0 5px !important;
}

.carousel-indicators .active {
    background-color: var(--foodcafe_navbar_text_yellow_color);
}

.carousel-caption {
    top: 60%;
    transform: translateY(-50%);
}

.carousel-caption h2 {
    margin: 0 0 20px;
    font-weight: 100;
}

.carousel-caption h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    margin: 0;
}

.carousel-caption .btn-table {
    margin-top: 70px;
}

.carousel-caption a {
    text-decoration: none;
}

.carousel-caption .btn-table,
a.btn-table {
    background-color: var(--foodcafe_navbar_text_yellow_color);
    ;
    border: 2px solid #fff;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 12px 40px;
    display: inline-block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: 700;
}

.carousel-caption .btn-table:hover,
a.btn-table:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}


/* 4. About Us Section  */

.section-title {
    font-size: 18px;
    color: #2C2626;
    text-align: center;
    margin-bottom: 100px;
    line-height: 30px;
}

.section-title h1 {
    font-size: 60px;
    margin: 0 0 40px;
}

.section-title h3 {
    line-height: 45px;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.border {
    background-color: #2c2626;
    height: 1px;
    width: 170px;
    display: block;
    margin: 30px auto 0;
}


/* 5. Special Area CSS */

.special-menu,
.special-menu-box {
    min-height: 360px;
    margin-bottom: 30px;
}

.special-menu,
.special-menu-box-hover,
.gallery-hover,
.team-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.special-box {
    font-size: 16px;
}

.special-menu h1 {
    font-size: 50px;
    margin: 0 0 25px;
}

.special-menu-box {
    border: 2px solid #2c2626;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

.special-menu-box-hover,
.gallery-hover,
.team-hover {
    padding: 25px;
    background: rgba(0, 0, 0, .60);
    color: #fff;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    left: 0;
    top: -100%;
    bottom: 0;
    right: 0;
}

.special-menu-box:hover .special-menu-box-hover,
.single-gallery:hover .gallery-hover,
.single-team:hover .team-hover {
    visibility: visible;
    opacity: 1;
    top: 0;
}

.special-menu-box-hover h1 {
    font-size: 45px;
    margin: 0 0 30px;
    color: var(--foodcafe_navbar_text_yellow_color);
}

.price {
    color: var(--foodcafe_navbar_text_yellow_color);
    font-size: 55px;
    display: block;
    margin-top: 35px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption {
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}


/*6. Opening Hour area CSS*/

.opening-box {
    position: relative;
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    padding: 150px 0;
}

.opening-box:before {
    content: "";
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.opening-box-text {
    font-size: 25px;
    color: #fff;
    line-height: 35px;
    text-align: center;
}

.opening-box-text h2 {
    font-size: 50px;
    font-weight: 300;
    margin: 0 0 30px;
}

.opening-box {
    background-image: url('../images/background-1.jpg');
}


/* 7. Foodmenu Area Sections starts here */

.menu-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-nav ul li {
    display: block;
}

.menu-nav ul li a {
    border: 1px solid #2C2626;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    height: 165px;
    font-size: 35px;
    color: #2C2626;
    padding-top: 105px;
    background-position: center 25px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.menu-nav ul li a:hover,
.menu-nav ul li.active a {
    color: var(--foodcafe_navbar_text_yellow_color);
    ;
    border-color: var(--foodcafe_navbar_text_yellow_color);
    ;
    text-decoration: none;
}

.menu-nav ul li.breakfast a {
    background-image: url(../images/menu-item/icon-1.png);
}

.menu-nav ul li.lunch a {
    background-image: url(../images/menu-item/icon-2.png);
}

.menu-nav ul li.dinner a {
    background-image: url(../images/menu-item/icon-3.png);
}

.menu-nav ul li.main-dish a {
    background-image: url(../images/menu-item/icon-4.png);
}

.active_menu_item {
    background-image: url(../images/menu-item/icon-1-hover.png);
}

.menu-nav ul li.breakfast a:hover,
.menu-nav ul li.active.breakfast a {
    background-image: url(../images/menu-item/icon-1-hover.png);
}

.menu-nav ul li.lunch a:hover,
.menu-nav ul li.active.lunch a {
    background-image: url(../images/menu-item/icon-2-hover.png);
}

.menu-nav ul li.dinner a:hover,
.menu-nav ul li.active.dinner a {
    background-image: url(../images/menu-item/icon-3-hover.png);
}

.menu-nav ul li.main-dish a:hover,
.menu-nav ul li.active.main-dish a {
    background-image: url(../images/menu-item/icon-4-hover.png);
}

.menu-list {
    position: relative;
}

.menu-list:before {
    content: "";
    background: #dddddd;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin-top: -60px;
}

.menu-list:after {
    content: "";
    background: #dddddd;
    width: 1px;
    position: absolute;
    top: 50px;
    bottom: 170px;
    left: 50%;
    margin-left: -0.5px;
}

.menu-item-image {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0 auto 20px;
}

.menu-item {
    text-align: center;
    font-size: 16px;
    max-width: 320px;
    margin: auto;
    padding: 50px 0;
}

.menu-item h1 {
    color: var(--foodcafe_navbar_text_yellow_color);
    ;
    font-size: 40px;
    margin: 0 0 20px;
}

.menu-item span.price {
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
}

.menu-pagination {
    margin: 50px 0;
}

.menu-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu-pagination ul li {
    display: inline-block;
}

.menu-pagination ul li a {
    color: #2c2626;
    font-size: 30px;
    display: block;
    padding: 0 7px;
}

.menu-pagination ul li:first-child a {
    margin-right: 25px;
}

.menu-pagination ul li:last-child a {
    margin-left: 25px;
}

.menu-pagination ul li a:hover,
.menu-pagination ul li.active a {
    color: var(--foodcafe_navbar_text_yellow_color);
    ;
    text-decoration: none;
}


/* 8.Gallery Area Css  */

.block-area {
    padding: 75px 0 40px;
}

.single-gallery,
.single-team {
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    border: 1px solid #2c2626;
    margin-bottom: 30px;
    height: 265px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery-hover {
    font-size: 16px;
    text-align: center;
}

.gallery-hover a {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    margin: auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background: var(--foodcafe_navbar_text_yellow_color);
    ;
    display: block;
    padding: 11px 0;
}

.gallery-hover a:hover {
    text-decoration: none;
    background-color: #000000;
}

.gallery-hover h1 {
    margin: 0 0 10px;
    color: var(--foodcafe_navbar_text_yellow_color);
    ;
    font-size: 40px;
    line-height: 60px;
}


/* 9. Reservation Area CSS */

.reservation-form input,
.reservation-form textarea,
.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 0;
    background: #F6F6F6;
    margin-bottom: 30px;
    color: #2c2626;
    font-weight: 300;
    font-size: 18px;
    padding: 20px 30px;
}

.reservation-form input:focus,
.reservation-form textarea:focus,
.contact-form input:focus,
.contact-form textarea:focus {
    outline: 0;
    background: #F6F6F6;
}

.reservation-form i {
    position: absolute;
    top: 17px;
    right: 35px;
    font-size: 25px;
}

.btn-submit,
.reservation-form input[type="submit"],
.contact-form input[type="submit"] {
    color: #2C2626;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    background: #F6F6F6;
    border: 2px solid #2C2626;
    display: inline-block;
    width: auto;
    padding: 20px 45px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-submit:hover,
.reservation-form input[type="submit"]:hover,
.contact-form input[type="submit"]:hover {
    background: #2C2626;
    text-decoration: none;
    color: #fff;
}

.date {
    display: inline-block;
    position: relative
}

.date:after {
    position: absolute;
    right: 6px;
}


/* 10.Our Team CSS */

.block-area.gray {
    background: #f6f6f6;
}

.single-team {
    height: 430px;
}

.team-hover {
    font-size: 18px;
    text-align: center;
}

.team-hover h1 {
    color: var(--foodcafe_navbar_text_yellow_color);
    ;
    font-size: 55px;
    margin: 0 0 20px;
}

.team-hover h2 {
    color: #fff;
    margin: 0 0 35px;
}

.single-team .bookmarks {
    margin-top: 45px;
}

.bookmarks ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bookmarks ul li {
    display: inline-block;
}

.bookmarks ul li a {
    background: var(--foodcafe_navbar_text_yellow_color);
    ;
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 100%;
    margin: 0 8px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
}

.bookmarks ul li a:hover {
    background: #000;
}


/*11. Testimonials area CSS*/

.testimonial {
    background-color: #ddd;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
}

.testimonial {
    background-image: url(../images/background-2.jpg);
}

.testimonial:before {
    content: "";
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
}

.single-testimonial h1 {
    font-size: 60px;
    margin: 0 0 25px;
    color: var(--foodcafe_navbar_text_yellow_color);
}

.testimonial-image {
    width: 165px;
    height: 165px;
    border-radius: 100%;
    margin: 0 auto 0px;
}

.single-testimonial {
    background-color: transparent;
    padding: 100px;
}

#clientsFeedback .carousel-item:before {
    content: "";
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* 12. Location Area CSS */

.map-container {
    position: relative;
    width: 100%;
    height: 400px;
}

.map-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gmap_canvas {
    width: 100%;
    height: 100%;
}


/* 13. Blog CSS */

.single-blog {
    background: #fff;
}

.blog-image {
    height: 250px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-color: #ddd;
}

.blog-text {
    color: #2C2626;
    padding: 20px;
}

.blog-text a {
    color: var(--foodcafe_navbar_text_yellow_color);
    ;
}

.blog-text h3 {
    font-size: 20px;
    margin-top: 0;
}

.blog-text h3 a {
    color: #2C2626;
}

.blog-text h5 {
    font-size: 15px;
    margin: 15px 0 20px;
    font-weight: 300;
    color: var(--foodcafe_navbar_text_yellow_color);
    ;
}

.blog-text h5 i {
    margin-right: 10px;
}

.blog-text h5 strong {
    margin-right: 15px;
}

#blog a:hover {
    text-decoration: underline;
}


/* 13.Contact CSS */

.single-address {
    font-size: 20px;
    color: #2C2626;
    margin-bottom: 40px;
}

.single-address h1 {
    font-size: 35px;
    color: #F39C12;
    margin: 0 0 30px;
}


/*15. Widget area CSS*/

.widget-area {
    background: #222222;
    padding: 50px 0 45px;
    color: #fff;
}

.widget .logo {
    margin: 0 0 30px;
}

.widget .bookmarks {
    margin-top: 20px;
}

.widget .bookmarks ul li a {
    margin-left: 0;
    margin-right: 10px;
}

.widget h3 {
    margin: 30px 0;
}

.widget ul.post,
.widget ul.address {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul.post li,
.widget ul.address li {
    display: block;
    margin-bottom: 20px;
}

.widget ul.post li a {
    display: block;
    color: #fff;
    padding-left: 15px;
    position: relative;
}

.widget ul.post li a:before {
    content: '\003E';
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 0;
}

.widget ul.address li {
    padding-left: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.widget ul.address li a {
    color: #fff;
}

.widget ul.address li i {
    position: absolute;
    left: 0;
    top: 7px;
}

.widget input[type="email"] {
    width: 100%;
    border: 0;
    padding: 8px 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.widget input[type="submit"] {
    font-size: 17px;
    border: 2px solid #fff;
    background: transparent;
    padding: 8px 35px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 700;
    color: white;
}

.widget input[type="submit"]:hover {
    background-color: #fff;
    color: #222;
}

.widget input[type="email"]:focus {
    outline: 0;
}


/*16. Footer area CSS*/

.footer-area {
    background: #000000;
    padding: 40px;
    color: #fff;
}