/*
*******************************************
*******************************************

@File: FoodCafe Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files contents are outlined below

*******************************************
*******************************************

==== INDEX PAGE CSS

** - 0. Default CSS
** - 1. Preloader CSS
** - 2. Navbar CSS
** - 3. Carousel Slider CSS
** - 4. About Us Section
** - 5. Special area CSS
** - 6. Opening Hour area CSS
** - 7. Food Menu area CSS
** - 8. Gallery area CSS
** - 9. Reservation area CSS
** - 10. Team area CSS
** - 11. Testimonials area CSS
** - 12. Location area css
** - 13. Blog area CSS
** - 14. Contact area CSS
** - 15. Widget area CSS
** - 16. Footer area CSS

*/


/*0. Default CSS*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #2c2626;
    font-size: 15px;
    line-height: 25px;
}

:root {
    --foodcafe_black_color: #000000;
    --foodcafe_navbar_text_yellow_color: #F39C12;
    --foodcafe_navbar_text_white_color: rgb(255, 255, 255);
}


/*2. Preloader CSS*/

.foodcafe-preloader {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.foodcafe-preloader .spinner {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #F6B145;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/* 3. Navbar Css */

.navbar {
    background-color: var(--foodcafe_black_color);
    padding: 15px 0;
}

.nav-link {
    color: white !important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    margin-right: 15px;
}

.nav-link:hover {
    color: var(--foodcafe_navbar_text_yellow_color)!important;
}

.navbar-brand {
    color: white !important;
    font-family: 'Dancing Script', cursive;
    font-size: 40px !important;
}

.navbar__active {
    color: var(--foodcafe_navbar_text_yellow_color) !important;
}

.navbar-toggle {
    border-color: #fff;
    margin-right: 0;
    padding: 9px 10px;
}

.navbar-toggler {
    color: #F39C12 !important;
}

.navbar .navbar-toggler {
    border-color: var(--foodcafe_navbar_text_white_color);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
    background-color: transparent;
    border-color: #F39C12;
}

.navbar .navbar-toggler-icon {
    color: #F39C12 !important;
}


/* 4. Carousel Slider CSS */

.carousel img {
    height: 660px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.carousel-item:before {
    content: "";
    background: rgba(0, 0, 0, .55);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel-indicators button {
    background-color: #fff;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100% !important;
    display: inline-block !important;
    margin: 0 5px !important;
}

.carousel-indicators .active {
    background-color: var(--foodcafe_navbar_text_yellow_color);
}

.carousel-caption {
    top: 60%;
    transform: translateY(-50%);
}

.carousel-caption h2 {
    margin: 0 0 20px;
    font-weight: 100;
}

.carousel-caption h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    margin: 0;
}

.carousel-caption .btn-table {
    margin-top: 70px;
}

.carousel-caption a {
    text-decoration: none;
}

.carousel-caption .btn-table,
a.btn-table {
    background-color: #F39C12;
    border: 2px solid #fff;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 12px 40px;
    display: inline-block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: 700;
}

.carousel-caption .btn-table:hover,
a.btn-table:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}


/* 4. About Us Section  */

.section-title {
    font-size: 18px;
    color: #2C2626;
    text-align: center;
    margin-bottom: 100px;
    line-height: 30px;
}

.section-title h1 {
    font-size: 60px;
    margin: 0 0 40px;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.border {
    background-color: #2c2626;
    height: 1px;
    width: 170px;
    display: block;
    margin: 30px auto 0;
}

.block-area {
    padding: 75px 20px 40px;
}


/* 5. Special Area CSS */

.special-menu,
.special-menu-box {
    min-height: 360px;
    margin-bottom: 30px;
}

.special-menu,
.special-menu-box-hover,
.gallery-hover,
.team-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.special-box {
    font-size: 16px;
}

.special-menu h1 {
    font-size: 50px;
    margin: 0 0 25px;
}

.special-menu-box {
    border: 2px solid #2c2626;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

.special-menu-box-hover,
.gallery-hover,
.team-hover {
    padding: 25px;
    background: rgba(0, 0, 0, .60);
    color: #fff;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    left: 0;
    top: -100%;
    bottom: 0;
    right: 0;
}

.special-menu-box:hover .special-menu-box-hover,
.single-gallery:hover .gallery-hover,
.single-team:hover .team-hover {
    visibility: visible;
    opacity: 1;
    top: 0;
}

.special-menu-box-hover h1 {
    font-size: 45px;
    margin: 0 0 30px;
    color: var(--foodcafe_navbar_text_yellow_color);
}

.price {
    color: var(--foodcafe_navbar_text_yellow_color);
    font-size: 55px;
    display: block;
    margin-top: 35px;
}


/*6. Opening Hour area CSS*/

.opening-box {
    position: relative;
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    padding: 150px 0;
}

.opening-box:before {
    content: "";
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.opening-box-text {
    font-size: 25px;
    color: #fff;
    line-height: 35px;
    text-align: center;
}

.opening-box-text h2 {
    font-size: 50px;
    font-weight: 300;
    margin: 0 0 30px;
}

.opening-box {
    background-image: url('../images/background-1.jpg');
}


/* 7. Foodmenu Area Sections starts here */

.menu-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-nav ul li {
    display: block;
}

.menu-nav ul li a {
    border: 1px solid #2C2626;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    height: 165px;
    font-size: 35px;
    color: #2C2626;
    padding-top: 105px;
    background-position: center 25px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.menu-nav ul li a:hover,
.menu-nav ul li.active a {
    color: #f39c12;
    border-color: #f39c12;
    text-decoration: none;
}

.menu-nav ul li.breakfast a {
    background-image: url(../images/icon-1.png);
}

.menu-nav ul li.lunch a {
    background-image: url(../images/icon-2.png);
}

.menu-nav ul li.dinner a {
    background-image: url(../images/icon-3.png);
}

.menu-nav ul li.main-dish a {
    background-image: url(../images/icon-4.png);
}

.menu-nav ul li.breakfast a:hover,
.menu-nav ul li.active.breakfast a {
    background-image: url(../img/menu-icon/icon-1-hover.png);
}

.menu-nav ul li.lunch a:hover,
.menu-nav ul li.active.lunch a {
    background-image: url(../img/menu-icon/icon-2-hover.png);
}

.menu-nav ul li.dinner a:hover,
.menu-nav ul li.active.dinner a {
    background-image: url(../img/menu-icon/icon-3-hover.png);
}

.menu-nav ul li.main-dish a:hover,
.menu-nav ul li.active.main-dish a {
    background-image: url(../img/menu-icon/icon-4-hover.png);
}

.menu-list {
    position: relative;
}

.menu-list:before {
    content: "";
    background: #dddddd;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin-top: -60px;
}

.menu-list:after {
    content: "";
    background: #dddddd;
    width: 1px;
    position: absolute;
    top: 50px;
    bottom: 170px;
    left: 50%;
    margin-left: -0.5px;
}

.menu-item-image {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0 auto 20px;
}

.menu-item {
    text-align: center;
    font-size: 16px;
    max-width: 320px;
    margin: auto;
    padding: 50px 0;
}

.menu-item h1 {
    color: #f39c12;
    font-size: 40px;
    margin: 0 0 20px;
}

.menu-item span.price {
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
}

.menu-pagination {
    margin: 50px 0;
}

.menu-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu-pagination ul li {
    display: inline-block;
}

.menu-pagination ul li a {
    color: #2c2626;
    font-size: 30px;
    display: block;
    padding: 0 7px;
}

.menu-pagination ul li:first-child a {
    margin-right: 25px;
}

.menu-pagination ul li:last-child a {
    margin-left: 25px;
}

.menu-pagination ul li a:hover,
.menu-pagination ul li.active a {
    color: #f39c12;
    text-decoration: none;
}